@import 'src/theme.scss';

$primary: map-get($sp-app-theme, primary);
$warn:    map-get($sp-app-theme, warn);

$border-width: 3px;

nav ul {
  background-color: mat-color($primary);
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    border-color: mat-color($primary);
    border-style: solid;
    border-width: $border-width 0;
    color: white;
    display: block;
    padding: (16px - $border-width) 16px;
    text-decoration: none;

    &.active {
      border-top-color: white;
    }
  }
}
